#!/bin/bash
export AWS_ACCESS_KEY_ID="{{ ec2_access_key }}";
export AWS_SECRET_ACCESS_KEY="{{ ec2_secret_key }}";
export AWS_DEFAULT_REGION="{{ region }}";
cd home/jenkins/jenkinsToS3Backup/;
aws s3 cp "./*.backup" "s3://{{ jenkins_data_bucket_name }}";
packageName=$(ls *.backup);
mv "$packageName" latest.backup;
aws s3 cp "./latest.backup" "s3://{{ jenkins_data_bucket_name }}";
rm -rf ./*;
unset AWS_ACCESS_KEY_ID;
unset AWS_SECRET_ACCESS_KEY;
unset AWS_DEFAULT_REGION;